
/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

h3 {
    text-align: right;
    border: 1px solid red;
}

section {
  border: 1px solid black;
  /*background-color: #A52A2A;*/
  /*width: 90%;*/
  /*height: 150px;*/
  /*margin-right: 2px;
  margin-left: 2px;*/
  padding: 10px;
  margin: auto;
  font-family: Helvetica;
  /*color: white;*/
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only (e.g. desktop) **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    /*border: 1px solid green;*/
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only (e.g. tablets) **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    /*border: 1px solid green;*/
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices only (e.g. mobile phones)**********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    /*border: 1px solid green;*/
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}


/*

header h1 {
    font-size: 4em;
}

main figure > figcaption {
    font-size: 0.75em;
    font-style: italic;
}

main figure > figcaption::before {
    content: 'Pictured above: ';
    font-weight: bold;
}

article > time {
    float: right;
    font-size: 0.75em;
    font-weight: lighter;
}

header {
    padding: 20px 50px;
}

main {
    padding: 5px 10px;
}

@font-face {
    font-family: 'News Cycle';
    src: url("../fonts/news_cycle.ttf") format('truetype');
}

@font-face {
    font-family: 'Contrail One';
    src: url("../fonts/contrail_one.ttf") format('truetype');
}

body {
    font-family: 'News Cycle' !important;
}

header {
    font-family: 'Contrail One';
}

@media not print {
    body {
    color: #635959;
    }
    header {
        background-color: #242323;
    }
    h3, article h4 {
        color: #8C1018;
    }
    article a {
        color: #314052;
    }
}

@media not print {
    main > h3 {
        font-size: 2em;
    }
}

@media print {
    header {
        padding: 0px;
    }
    article {
        box-shadow: none;
    }
    header h1 {
        font-size: 2em;
    }
    header h2 {
        display: none;
    }
}

.carousel-inner {
    text-align: center;
}

.carousel .item > img {
    display: inline-block;
}*/